body {
    font-family: 'Viga';
}

.banner-title {    
    text-align: center;
    margin-top: 5vh;
    text-shadow:
		-1px -1px 0 #333231,
		1px -1px 0 #333231,
		-1px 1px 0 #333231,
		1px 1px 0 #333231;
}

.banner {
    background-image: url("../assets/home-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.banner-text {
    margin-top: 45vh;
    text-align: center;
    text-shadow:
		-1px -1px 0 #333231,
		1px -1px 0 #333231,
		-1px 1px 0 #333231,
		1px 1px 0 #333231;
}

.banner-btn {
    width: 18em;
    padding-top: 10px;
    padding-bottom: 30px;
}

.scrollbar-hidden {
    overflow-x: hidden;
}

.about {
    height: 100%;
}

.limit-width {
    max-width: 100%;
}

.push {
    padding-top: 245px;
    background-color: #333231;
    transition: .35s;
}

.pull {
    transition: .35s;
    background-color: #333231;
}